body {
  font-family: 'Open Sans', sans-serif;
}
img {
  width: 100%;
}

.jumbotron {
  background-image: url('../img/bg.jpg');
  background-position: bottom;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#available-ocelots {
  display: none;
}

.section-row {
  border-bottom: 2px solid black;
  margin-bottom: 40px;
}

.ocelot {
  margin-bottom: 25px;
}

.form-inline input:nth-child(1n+1) {
  width: 32.8%;
}

button[type="submit"] {
  width: 100%;
}
